<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>tagsviewer</title>
</head>

<body>
    <canvas id="myCanvas" width="30" height="20" style="border:1px solid #d3d3d3;background:#ffffff;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        canvasclick = function (e) {
            var c = document.getElementById("myCanvas");
            const canvasInfo = c.getBoundingClientRect()
            console.log(e.clientX - canvasInfo.left, e.clientY - canvasInfo.top)
            $.ajax({
                url: "SetCharStart",
                type: "POST",
                data: { "pos": e.clientX - canvasInfo.left }
            });
        }
        afterload = function (result) {
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            var img = new Image();
            img.src = 'data:image/png;base64,' + result['out'];
            img.onload = function () {
                // 图像加载完成 ，绘制画布中
                ctx.drawImage(img, 0, 0);
            }

            c.addEventListener('click', canvasclick)
        }
        $(document).ready(function () {
            $.ajax({
                url: "InitCutter",
                type: "GET",
                success: afterload
            });
        });
    </script>
</body>

</html>