.git/
__pycache__/
.vscode/
output/
*.7z
log/
runs/
*.pth
/deprecated/
/asset/autofreshmap/rawmaterial/
/exp/DLOnPlottingScale/wtdmp_noised_scale_collection_project.202301112304/
/exp/DLOnPlottingScale/wtdmpsocr/charDataset/
/exp/DLOnPlottingScale/wtdmpsocr/locatorDataset/
.idea