.git/
__pycache__/
.vs
#.vscode/
#exp/
output/
*.7z
log/
runs/
*.pth
.idea
dataset/
/deprecated
asset/autofreshmap/raws
test/wtdmpocrtest/
asset/collection
asset/log
asset/wtdistmeaspy/log
asset/statistics
*.ignored